.admin-leftBar {
  position: fixed;
  left: -20%;
  top: 0;
  height: 100%;
  width: 20%;
  padding: 10px;
  background-color: black;
  transition: left 0.5s;
  gap: 10px;
  .show-btn {
    cursor: pointer;
    position: absolute;
    right: -60px;
    background-color: black;
    font-size: larger;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
  }
  .click-tag {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .click-tag:hover {
    color: black;
    background-color: azure;
  }
  .admin-user-info {
    color: black;
    display: flex;
    padding: 5px;
    justify-content: center;
    background-color: lightgray;
    border-radius: 10px;
    align-items: center;
    font-size: 30px;
    gap: 10px;
    img {
      position: absolute;
      left: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: width 2s, height 2s;
    }
  }
  .admin-user-info:hover {
    color: green;
    img {
      width: 75px;
      height: 75px;
    }
  }
}
.admin-showbar {
  left: 0;
  .show-btn {
    transform: rotate(180deg);
  }
}
