.app {

  .start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    button {
      padding: 10px 20px;
      font-size: 1.5em;
      cursor: pointer;
    }
  }

  .carotitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .caroplayerbar {
    background-color: #999;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 15%;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    .carouserinfo {
      display: flex;
      align-items: center;

      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .carogamescreen {
    display: flex;
    flex-direction: column;
    align-items: center;

    .game-board-wrapper {
      border: 4px solid violet;

      .game-board {
        display: grid;
        grid-template-columns: repeat(14, 40px);
        // gap: 5px;

        .square {
          width: 40px;
          height: 40px;
          background: #fff;
          border: 1px solid lightgray;
          font-size: 24px;
          font-weight: bold;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.3s, transform 0.1s;

          &.X {
            color: #ff5722;

            &:hover {
              transform: scale(1.05);
              background-color: lightyellow;
              border: 2px solid #ff5722;
            }
          }

          &.O {
            color: #2196f3;

            &:hover {
              transform: scale(1.05);
              background-color: lightyellow;
              border: 2px solid #2196f3;
            }

          }

          &:hover {
            transform: scale(1.05);
            background-color: lightyellow;
            border: 2px solid gray;
          }
        }
      }

      // Responsive layout
      @media (max-width: 768px) {
        .game-board {
          grid-template-columns: repeat(14, 30px);

          .square {
            width: 30px;
            height: 30px;
            font-size: 18px;
          }
        }
      }
    }

    .caro-button {
      display: flex;
      justify-content: center;
      margin: 10px 0;

      button {
        padding: 10px 20px;
        font-size: 1em;
        cursor: pointer;
      }
    }
  }
}