@import "../../style.scss";
.comment {
  @include themify($themes) {
    flex-wrap: wrap;
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    .notification-text {
      padding: 20px;
      text-align: center;
      margin-bottom: 20px;
      font-size: 16px;
      color: themed("textColorSoft");
    }
    .buttonbox {
      text-align: center;
      padding: 20px;
      .btnyes,
      .btnno {
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        color: themed("bg");
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
      }
      .btnyes {
        background-color: #28a745;
      }

      .btnno {
        background-color: #dc3545;
      }

      button:hover {
        opacity: 0.8;
      }
    }
    .infocomment {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 3px;
      align-items: flex-start;
      background-color: themed("bgSoft");
      padding: 10px;
      border-radius: 20px;
      flex-wrap: wrap;

      justify-content: flex-start;

      span {
        font-weight: 600;
        cursor: pointer;
      }
      img {
        border-radius: 0;
        width: 300px;
        height: 150px;
        object-fit: contain;
      }
      p {
        color: themed("textColorSoft");
      }
    }
    .editting {
      border-radius: 50%;
      background-color: themed("bgSoft");
      color: themed("textColorSoft");
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
    .action {
      width: 100%;
      margin-left: 10%;
      display: flex;
      gap: 10px;
      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 15px;

        .shake-heart:hover {
          animation: tilt-shaking 0.25s;
          animation-iteration-count: infinite;
        }

        .white-color-heart:hover {
          animation: change-to-red 1s;
          animation-iteration-count: 1;
        }
      }
    }

    .date {
      margin-left: auto;
      align-self: center;
      color: gray;
      font-size: 12px;
    }
    .replybox {
      width: 100%;
      display: flex;
      justify-content: end;
      .comments {
        width: 90%;
      }
    }
  }
}
