.adminfeedback {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;

  select,
  button {
    margin: 10px 0;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    cursor: pointer;
    &:hover {
      background-color: #e7e7e7;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      padding: 15px;
      border-bottom: 2px solid #eee;
      text-align: left;
    }
  }

  tr {
    &:hover {
      background-color: #f0f0f0;
    }
  }

  .status-0 {
    background-color: #ffcccc;
  }
  .status-0:hover {
    background-color: #ff7474;
  }

  .status-1 {
    background-color: #ccf7ff;
  }
  .status-1:hover {
    background-color: #7febfe;
  }

  .status-2 {
    background-color: #cdffcc;
  }
  .status-2:hover {
    background-color: #86ff84;
  }

  .userimg {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  .delbtn {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    &:hover {
      background-color: #9a9a9a;
    }
  }
}
