@import "../../style.scss";

.update {
  @include themify($themes) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    .wrapper {
      margin: auto;
      width: 40%;
      height: 78%;
      background-color: themed("bg");
      border-radius: 10px;
      padding-top: 50px;
      z-index: 999;
      display: flex;
      flex-direction: column;
      gap: 20px;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      position: relative;

      @include mobile {
        width: 100%;
        height: 100%;
      }

      .title-update {
        margin: 0 auto;
        font-weight: 700;
        font-size: 20px;
        color: themed("textColor");

        @include mobile {
          font-size: 20px;
        }
      }

      .menu {
        width: fit-content;
        margin: 0 auto;
      }

      .form-update {
        width: 60%;
        margin: 0 auto;
        color: themed("textColor");

        Input {
          border-radius: 5px;
        }

        label {
          font-size: 16px;
          font-weight: 600;
        }

        Input:focus {
          border-width: 3px;
        }

        .btn-save {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 40px;
          font-size: 15px;
          font-weight: 600;
          border-radius: 15px;
          border: none;
          outline: none;
          background-color: rgb(75, 75, 233);
          color: white;
          margin: 0 auto;
          cursor: pointer;
        }

        .btn-save:hover {
          background-color: blue;
        }
      }

      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background-color: #e24843c6;
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 50%;
        cursor: pointer;
        color: white;
      }

      .close:hover {
        background-color: red;
      }
    }
  }
}