@import "../../style.scss";

.update {
  @include themify($themes) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    .wrapper {
      margin: auto;
      width: 40%;
      background-color: themed("bg");
      border-radius: 10px;
      padding: 50px 0 30px 0;
      z-index: 999;
      display: flex;
      flex-direction: column;
      gap: 30px;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      position: relative;

      @include mobile {
        width: 100%;
        height: 100%;
      }

      .title-update {
        margin: 0 auto;
        font-weight: 700;
        font-size: 20px;
        color: themed("textColor");

        @include mobile {
          font-size: 20px;
        }
      }

      .menu {
        width: fit-content;
        margin: 0 auto;
      }

      .form-update {
        width: 60%;
        margin: 0 auto;
        margin-bottom: -20px;
        color: themed("textColor");

        Input {
          border-radius: 5px;
        }

        label {
          font-size: 16px;
          font-weight: 600;
        }

        Input:focus {
          border-width: 3px;
        }
      }

      .form-image {
        padding: 0 20px;
        max-height: 450px;
        overflow-y: auto;

        .update-profile {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          .avatar {
            font-size: 22px;
            font-weight: 700;
            color: themed(textColor);
          }

          .edit-avatar {
            color: #1877F2;
            margin-left: auto;
            font-weight: 600;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
          }

          .edit-avatar:hover {
            background: themed("bgSoft");
          }
        }

        .image-profile {
          display: flex;
          justify-content: center;
          align-items: center;

          .img-profile {
            width: 160px;
            height: 160px;
            border-radius: 50%;
          }

          .img-cover {
            width: 420px;
            height: 180px;
            border-radius: 20px;
            object-fit: cover;
            object-position: center;
          }
        }

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }

      .error {
        color: red;
        margin: 0 auto;
      }

      .btn-save {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 40px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 15px;
        border: none;
        outline: none;
        background-color: rgb(75, 75, 233);
        color: white;
        margin: 0 auto;
        cursor: pointer;
      }

      .btn-save:hover {
        background-color: blue;
      }

      .Toastify {
        display: none;
      }

      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background-color: #e24843c6;
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 50%;
        cursor: pointer;
        color: white;
      }

      .close:hover {
        background-color: red;
      }
    }
  }
}