.loadingcontext {
  .popup-content {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;

    h1 {
      font-size: 24px; /* Tăng kích thước font */
      /* Các thuộc tính khác không thay đổi */
    }
    button {
      /* Các thuộc tính khác không thay đổi */
      margin: 20px 10px 0; // Thêm margin giữa các nút và cách phần trên
      padding: 10px 20px; // Thêm padding để nút lớn hơn
      border: none; // Loại bỏ đường viền mặc định
      border-radius: 4px; // Thêm bo góc cho nút
      background-color: #007bff; // Màu nền cho nút
      color: #fff; // Màu chữ trắng
      font-size: 16px; // Tăng kích thước font cho nút
      cursor: pointer; // Thêm con trỏ pointer khi hover vào nút
      transition: background-color 0.3s ease; // Thêm hiệu ứng chuyển đổi màu nền

      &:hover {
        background-color: #0056b3; // Màu nền khi hover
      }
    }

    h1 {
      margin-bottom: 20px;
    }

    button {
      margin-top: 20px;
    }
  }
  .pageloading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99999999;
    background-color: rgba(255, 255, 255, 0.664);
    div {
      scale: 7;
    }
  }
}
