@import "../../../style.scss";

.my-suggested-group {
   @include themify($themes) {
      background-color: themed("bgSoft");
      color: themed("textColor");
      width: 90%;
      margin: 40px auto;

      .row {
         display: flex;
         flex-wrap: wrap;
         justify-content: flex-start;
      }
   }
}