@import "../../../style.scss";

.friend-dashboard {
    @include themify($themes) {
        background-color: themed("bgSoft");
        color: themed("textColor");
        width: 90%;
        margin: 40px auto;

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            .card-friends {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
                background-color: themed("bg");
                width: calc(25% - 10px);
                display: flex;
                flex-direction: column;
                margin: 5px;
                border-radius: 10px;
                padding-bottom: 20px;
                gap: 10px;
                box-sizing: border-box;

                img {
                    width: 100%;
                    height: 270px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 10px 10px 0 0;
                }

                span {
                    font-size: 18px;
                    font-weight: 600;
                    margin-left: 10px;
                    padding-bottom: 20px;
                }

                .accept {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 8px 0;
                    width: 70%;
                    margin: 0 auto;
                    border: none;
                    background-color: #0866FF;
                    color: white;
                    border-radius: 5px;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                }

                .accept:hover {
                    background-color: blue;
                }
            }

            .card-invite:nth-child(4n+1),
            .card-invite:nth-child(4n+2),
            .card-invite:nth-child(4n+3),
            .card-invite:nth-child(4n+4) {
                width: calc(25% - 10px);
            }
        }
    }
}