.forgetPassword {
  position: relative;

  .rtrBtn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    top: -0px;
    left: 0px;
    &:hover {
      background-color: darken(aliceblue, 10%);
    }
  }
  .mainform {
    background-color: aliceblue;
    border-radius: 25px;
    h1 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .form {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .message {
        color: #4fd956;
        font-size: 0.9rem;
      }
      .error {
        color: #d9534f;
        font-size: 0.9rem;
      }
      button {
        border: none;
        font-size: larger;
        color: whitesmoke;
        border-radius: 25px;
        padding: 10px;
        background-color: rgb(0, 100, 171);
        &:hover {
          background-color: darken($color: rgb(0, 100, 171), $amount: 10%);
        }
      }
      .inputbox {
        width: 80%;
        display: flex;
        align-items: center;
        padding: 5px;
        button {
          width: 0;
          height: 40px;
          border-radius: 5px;
          font-size: small;
          transition: width 0.5s ease-in-out;
          padding: 0;
          position: relative;
          margin-top: 0px;
          overflow: hidden;
        }
        &:hover {
          button {
            width: 50px;
          }
        }
        span,
        input {
          transition: width 0.5s ease-in-out;
          width: 100%;
          border: 2px solid #ccc;
          border-radius: 30px;
          padding: 10px 15px;
          font-size: 16px;
          transition: border-color 0.3s;

          &:focus {
            border-color: #938eef;
            outline: none;
          }
        }
      }
    }
  }
}
