@import "../../style.scss";

.search-container {
  @include themify($themes) {
    background-color: themed("bg");
    color: themed("textColor");
    border-radius: 10px;
    width: 90%;
    margin: 40px auto;
    padding-bottom: 20px;

    .search-text {
      font-size: 24px;
      padding: 15px 30px;
      font-weight: 700;
    }

    .cards {
      padding: 0 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
  }
}