.userTab {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 10px;
  border: solid;
  border-width: 1px;
  border-color: #EBEDF0;
  border-radius: 10px;

  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .username {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }

  .username:hover {
    text-decoration: underline;
  }

  .buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 10px;

    Button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 10px;
      padding: 10px 15px;
      background-color: #ECF3FF;

      span {
        font-size: 14px;
        font-weight: 700;
      }
    }

    Button.deny-friend {
      color: red;
      background-color: #FEF2D1;
    }

    Button.deny-friend:hover {
      background-color: #F5C33B;
    }

    Button.delete-friend {
      color: red;
      background-color: #FBCCD2;
    }

    Button.delete-friend:hover {
      background-color: lightcoral;
    }

    Button:hover {
      background-color: lightblue;
    }
  }
}