.messageis_yours {
  width: 160px;

  padding: 10px;
  background: white;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  display: inline-flex;
  .mess-content {
    width: fit-content;
    height: 24px;
    right: 10px;

    position: relative;
    background: #d9d9d9;
    border-radius: 15px;
    overflow: hidden;
  }
}
.messageis_friends {
  width: 160px;

  padding: 10px;
  background: white;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
  .mess-content {
    width: fit-content;
    height: 24px;
    left: 0px;

    position: relative;
    background: #d9d9d9;
    border-radius: 15px;
    overflow: hidden;
  }
}
