@import "../../../style.scss";

.card-join {
   @include themify($themes) {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      background-color: themed("bg");
      width: calc(33.3333% - 10px);
      display: flex;
      flex-direction: column;
      margin: 5px;
      border-radius: 10px;
      padding: 15px;
      gap: 10px;
      box-sizing: border-box;

      .card-info {
         display: flex;
         align-items: center;
         justify-content: flex-start;

         img {
            width: 90px;
            height: 90px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
         }

         .group-name {
            font-size: 16px;
            font-weight: 600;
            margin-left: 10px;
         }
      }

      .group-action {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         margin-top: 10px;
         gap: 10px;

         .view {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 0;
            width: 80%;
            margin: 0 auto;
            border: none;
            background-color: #ECF3FF;
            color: #1877F2;
            border-radius: 5px;
            font-size: 15px;
            font-weight: 600;
            cursor: pointer;

            &:hover {
               background-color: #0866FF;
               color: white;
            }
         }

         .more {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 0;
            width: 20%;
            margin: 0 auto;
            border: none;
            background-color: themed("bgSoft");
            color: themed("textColor");
            border-radius: 5px;
            cursor: pointer;

            &:hover {
               background-color: gainsboro;
            }
         }
      }
   }
}