.fileBox {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  .mainimage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;

    img,
    video {
      width: 500px;
      height: 500px;
    }
  }
  .float-file-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .deleteButton,
    .sourceButton {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
    .source {
      display: flex;
      align-items: center;
      position: relative;

      .originText {
        width: 0;
        background-color: black;
        color: white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: width 0.5s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding: 0;
      }

      &:hover .originText {
        width: fit-content;
        padding-right: 20px;
      }
    }
  }
}
