.top-box {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 131px;
  background: #111463;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  display: inline-flex;
  img {
    width: 32px;
    height: 32px;
    background: #9e1e1e;
    border-radius: 9999px;
  }
  .name {
    color: white;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
}
.messages {
  //height: fit-content;
  height: 250px;
  padding: 10px;
  background: white;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
  overflow-y: scroll;
}
.new-message {
  height: 38px;
  width: 100%;
  position: relative;
  background: #710808;
  bottom: 0;
  input {
    width: 187px;
    height: 22px;
    left: 8px;
    top: 8px;
    position: absolute;
    background: #d9d9d9;
    border-radius: 15px;
  }
  .send-button {
    width: 22px;
    height: 22px;
    left: 202px;
    top: 8px;
    position: absolute;
    background: #d9d9d9;
    border-radius: 9999px;
  }
}
