@import "../../../style.scss";

.group-detail {
   @include themify($themes) {
      background-color: themed("bgSoft");

      .group-header {
         background-color: themed("bg");
         padding: 0 30px;
         border-bottom: 1px solid rgba(0, 0, 0, 0.2);

         .group-cover {
            position: relative;

            .cover-toolbar {
               position: absolute;
               top: 0;
               right: 0;
               left: 0;
               display: flex;
               gap: 10px;
               padding: 10px 20px;
               margin: 0 -30px;
               background-color: rgba(0, 0, 0, 0.4);

               .option {
                  margin-left: auto;
                  display: flex;
                  gap: 20px;

                  .button {
                     font-weight: 600;
                     padding: 10px 15px;
                     border: none;
                     border-radius: 5px;
                     cursor: pointer;
                     color: white;
                     font-size: 14px;

                     &.save {
                        background-color: #1877f2;

                        &:hover {
                           background-color: darken(#1877f2, 10%);
                        }
                     }

                     &.cancel {
                        background-color: rgba(0, 0, 0, 0.6);

                        &:hover {
                           background-color: rgba(0, 0, 0, 0.3);
                        }
                     }
                  }
               }
            }

            img {
               width: 100%;
               height: 410px;
               border-radius: 0 0 8px 8px;
               object-fit: cover;
            }

            .edit-box {
               position: absolute;
               bottom: 25px;
               right: 30px;

               .edit-button {
                  font-weight: 600;
                  padding: 10px 15px;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;

                  &:hover {
                     background-color: lightgray;
                  }
               }

               .popover {
                  position: absolute;
                  top: 100%;
                  right: 0;
                  padding: 5px;
                  background-color: #ffffff;
                  border-radius: 8px;
                  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
                  width: 230px;
                  z-index: 10;

                  .popover-item {
                     font-weight: 500;
                     font-size: 14px;
                     padding: 10px;
                     border-radius: 5px;
                     cursor: pointer;

                     &:hover {
                        background-color: #f7f7f7;
                     }
                  }
               }
            }
         }

         .group-info {
            margin-top: 10px;
            padding: 0 30px;

            .group-name {
               font-size: 24px;
               font-weight: bold;
               margin: 10px 0;
               color: themed("textColor");
            }

            .group-privacy {
               display: inline-flex;
               align-items: center;
               font-size: 16px;
               color: themed("textColor");

               .member {
                  font-weight: 600;
               }
            }
         }

         .group-members {
            margin: 10px 30px 20px 30px;
            display: flex;

            .members {
               display: flex;
               align-items: center;
               margin-right: auto;

               img {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  border: 2px solid #fff;
                  margin-right: -8px;
                  cursor: pointer;
               }
            }

            .activity {
               display: flex;
               align-items: center;
               margin-left: auto;
               gap: 10px;

               .invite {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 5px;
                  background-color: #0866FF;
                  color: white;
                  font-weight: 600;
                  padding: 10px 15px;
                  border-radius: 5px;
                  cursor: pointer;

                  &:hover {
                     background-color: #3578E5;
                  }
               }
            }
         }

         .post-info {
            display: flex;
            align-items: center;
            background-color: themed("bgSoft");
            color: themed("textColor");
            border-radius: 10px;
            padding: 15px;
            margin: 0 30px;

            .count-posts {
               display: flex;
               flex-direction: column;
               gap: 2px;

               .title {
                  font-weight: 600;
                  font-size: 16px;
               }

               .count {
                  font-size: 14px;
               }
            }

            .post-manage {
               background-color: #EBF5FF;
               color: #0064D1;
               font-weight: 600;
               cursor: pointer;
               padding: 10px 15px;
               border-radius: 10px;
               display: flex;
               align-items: center;
               justify-content: center;
               margin-left: auto;

               &:hover {
                  background-color: #E4F0F6;
               }
            }
         }

         .group-tabs {
            display: flex;

            .tab-container {
               border-top: 1px solid #ccd0d5;
               width: 100%;
               margin: 0 30px;
               display: flex;

               .tab {
                  border: none;
                  background: none;
                  cursor: pointer;
                  font-size: 15px;
                  color: themed("textColorSoft");
                  font-weight: 600;

                  .tab-title {
                     padding: 15px 20px;
                     margin: 4px 0 1.6px 0;
                     border-radius: 10px;

                     &:hover {
                        background-color: themed("bgSoft");
                     }
                  }

                  &.active {
                     border-bottom: 3px solid #1877f2;
                     color: #1877f2;

                     .tab-title {
                        &:hover {
                           background-color: transparent;
                        }
                     }
                  }
               }

               .group-action {
                  display: flex;
                  align-items: center;
                  margin-left: auto;

                  .filter-button {
                     position: relative;
                     display: flex;
                     align-items: center;
                     gap: 10px;
                     margin-left: auto;
                     padding: 10px 15px;
                     border: none;
                     outline: none;
                     border-radius: 10px;
                     background-color: #EBEDF0;
                     cursor: pointer;
                     font-size: 15px;
                     font-weight: 600;

                     &:hover {
                        background-color: #CCD0D5;
                     }

                     .dropdown-menu {
                        display: none;
                        position: absolute;
                        top: 100%;
                        right: 0;
                        box-shadow: -8px 0 10px -5px rgba(0, 0, 0, 0.2);
                        background-color: #fff;
                        width: 220px;
                        border: none;
                        outline: none;
                        border-radius: 10px;
                        padding: 10px;

                        .option {
                           padding: 10px;
                           border-radius: 5px;
                           display: flex;
                           justify-content: flex-start;
                           align-items: center;
                           gap: 10px;

                           &:hover {
                              background-color: themed("bgSoft");
                           }
                        }

                        hr{
                           border: 1px solid gainsboro;
                        }

                        &.show {
                           display: block;
                        }
                     }
                  }
               }

               &.no-border {
                  border-top: none;
               }
            }
         }
      }

      .group-body {
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
         width: 100%;
         border-radius: 0 0 8px 8px;
         padding: 20px;
         box-sizing: border-box;

         .post-block {
            flex: 65%;
            margin-right: 10px;
         }

         .group-intro {
            display: flex;
            flex-direction: column;
            flex: 35%;
            margin-left: 10px;
            background-color: themed("bg");
            color: themed("textColor");
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 15px;

            .intro {
               font-size: 14px;
               margin: 10px 0;
            }

            .title {
               font-size: 17px;
               font-weight: 600;
            }

            .intro-privacy {
               display: flex;
               align-items: flex-start;
               gap: 15px;

               .content {
                  display: flex;
                  flex-direction: column;

                  .intro-title {
                     font-size: 16px;
                     font-weight: bold;
                     margin-bottom: 5px;
                  }

                  .intro-content {
                     font-size: 14px;
                     margin-bottom: 10px;
                  }
               }
            }
         }
      }
   }
}