.countdowntimer {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   position: relative;
   /* Thêm position relative */
   background-color: rgb(176, 176, 176);
   display: flex;
   align-items: center;
   justify-content: center;

   .outer-circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 8px solid transparent;
      border-top-color: blue;
      animation: rotate 1s linear infinite;
      box-sizing: border-box;
   }

   h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      /* Đặt z-index để nằm trên vòng tròn */
   }

   @keyframes rotate {
      to {
         transform: rotate(360deg);
      }
   }
}