@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: hidden; // Ẩn thanh cuộn khi không rê chuột vào
    background-color: themed("bgSoft");
    color: themed("textColor");

    @include mobile {
      display: none;
    }

    &:hover {
      overflow-y: scroll; // Cho phép thanh cuộn hiển thị khi rê chuột vào

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: themed("bgSoft"); // Màu nền của track
      }

      &::-webkit-scrollbar-thumb {
        background-color: #BEC3C9;
        border-radius: 20px;
      }
    }

    .container {
      padding: 5px;

      hr {
        margin: 10px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .menu {
        display: flex;
        flex-direction: column;

        span {
          font-size: 12px;
          padding: 10px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;

          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }

          span {
            font-size: 14px;
          }

          &:hover {
            background-color: #DADDE1;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;

          img {
            width: 30px;
          }

          span {
            font-size: 14px;
          }

          &:hover {
            background-color: #DADDE1;
          }
        }
      }
    }
  }
}