@import "../../../style.scss";

.group-post-detail {
    @include themify($themes) {
        background-color: themed("bgSoft");

        .group-header {
            background-color: themed("bg");
            padding: 0 30px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

            .group-cover {
                position: relative;

                .cover-toolbar {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    display: flex;
                    gap: 10px;
                    padding: 10px 20px;
                    margin: 0 -30px;
                    background-color: rgba(0, 0, 0, 0.4);

                    .option {
                        margin-left: auto;
                        display: flex;
                        gap: 20px;

                        .button {
                            font-weight: 600;
                            padding: 10px 15px;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                            color: white;
                            font-size: 14px;

                            &.save {
                                background-color: #1877f2;

                                &:hover {
                                    background-color: darken(#1877f2, 10%);
                                }
                            }

                            &.cancel {
                                background-color: rgba(0, 0, 0, 0.6);

                                &:hover {
                                    background-color: rgba(0, 0, 0, 0.3);
                                }
                            }
                        }
                    }
                }

                img {
                    width: 100%;
                    height: 410px;
                    border-radius: 0 0 8px 8px;
                    object-fit: cover;
                }

                .edit-box {
                    position: absolute;
                    bottom: 25px;
                    right: 30px;

                    .edit-button {
                        font-weight: 600;
                        padding: 10px 15px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            background-color: lightgray;
                        }
                    }

                    .popover {
                        position: absolute;
                        top: 100%;
                        right: 0;
                        padding: 5px;
                        background-color: #ffffff;
                        border-radius: 8px;
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
                        width: 230px;
                        z-index: 10;

                        .popover-item {
                            font-weight: 500;
                            font-size: 14px;
                            padding: 10px;
                            border-radius: 5px;
                            cursor: pointer;

                            &:hover {
                                background-color: #f7f7f7;
                            }
                        }
                    }
                }
            }

            .group-info {
                margin-top: 10px;
                padding: 0 30px;

                .group-name {
                    font-size: 24px;
                    font-weight: bold;
                    margin: 10px 0;
                }

                .group-privacy {
                    display: inline-flex;
                    align-items: center;
                    font-size: 16px;
                    color: #606770;

                    .member {
                        font-weight: 600;
                    }
                }
            }

            .group-members {
                margin: 10px 30px 25px 30px;
                display: flex;

                .members {
                    display: flex;
                    align-items: center;
                    margin-right: auto;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 2px solid #fff;
                        margin-right: -8px;
                        cursor: pointer;
                    }
                }

                .invite {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #1877f2;
                    color: white;
                    font-weight: 600;
                    margin-left: auto;
                    padding: 0 12px;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #3578E5;
                    }
                }
            }

            .group-tabs {
                display: flex;

                .tab-container {
                    border-top: 1px solid #ccd0d5;
                    width: 100%;
                    margin: 0 30px;
                    display: flex;

                    .tab {
                        border: none;
                        background: none;
                        cursor: pointer;
                        font-size: 15px;
                        color: themed("textColorSoft");
                        font-weight: 600;

                        .tab-title {
                            padding: 15px 20px;
                            margin: 4.4px 0 2px 0;
                            border-radius: 10px;

                            &:hover {
                                background-color: themed("bgSoft");
                            }
                        }

                        &.active {
                            border-bottom: 3px solid #1877f2;
                            color: #1877f2;

                            .tab-title {
                                &:hover {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }

        .group-body {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            border-radius: 0 0 8px 8px;
            padding: 20px;
            box-sizing: border-box;

            .post-block {
                flex: 65%;
                margin-right: 10px;
            }

            .group-intro {
                flex: 35%;
                margin-left: 10px;
                background-color: #ffffff;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                padding: 15px;

                .title {
                    font-size: 17px;
                    font-weight: 600;
                }

                .intro-privacy {
                    margin: 10px 0;
                    display: flex;
                    align-items: flex-start;
                    gap: 15px;

                    .content {
                        display: flex;
                        flex-direction: column;

                        .intro-title {
                            font-size: 16px;
                            font-weight: bold;
                            color: #333333;
                            margin-bottom: 5px;
                        }

                        .intro-content {
                            font-size: 14px;
                            color: #666666;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}