.chat-boxes {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  bottom: 0;
  z-index: 1;
  right: 60px;
  gap: 15px;

  .chat-box {
    width: 290px;
    height: fit-content;
    position: relative;
    display: inline-flex;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
}
