.list-notification {
  width: 500px;

  height: fit-content;
  max-height: 800px;
  background-color: #f5f5f5; // Màu nền nhẹ cho toàn bộ danh sách thông báo

  overflow-y: auto; // Cho phép cuộn nếu nội dung quá dài

  .title-notification {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #e6e6e6; // Màu nền cho tiêu đề thông báo, tạo độ tương phản
    border-bottom: 1px solid #ccc;

    span {
      font-size: 22px;
      font-weight: 700;
    }

    .more {
      margin-left: auto;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: gainsboro;
      }
    }
  }

  // Nút "Hiển thị thêm"
  button {
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: #d9d9d9;
    border-top: 1px solid #ccc;
    cursor: pointer;

    &:hover {
      background-color: #bfbfbf; // Đổi màu khi di chuột
    }
  }
}
