.userContainer {
  display: flex;
  width: 300px;
  align-items: center;
  gap: 20px;
  padding: 15px 10px;
  border: solid;
  border-width: 1px;
  border-color: #ebedf0;
  cursor: pointer;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .username {
    display: flex;
    flex-direction: column;

    .name:hover {
      text-decoration: underline;
    }

    .name {
      font-size: 18px;
      font-weight: 600;
    }

    .mess {
      font-size: 15px;
      font-weight: 400;
      width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .mess.not-read {
      font-weight: 700;
    }

    .time {
      font-size: 10px;
      font-weight: 100;
    }
  }

  .new-message {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-left: auto;
    background-color: #3578E5;
  }
}