@import "../../style.scss";

.navbar {
  @include themify($themes) {
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .callingPopup {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-radius: 8px 8px 0 0;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: themed("bg");

      img {
        position: absolute;
        top: -30%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
        border: 10px solid themed("bg");
      }

      h1 {
        margin-top: 50px;

        color: themed("textColor");
        font-size: 1.5em;
        text-align: center;
      }
    }

    .callingButton {
      display: flex;
      justify-content: space-around;

      background-color: themed("bg");
      button {
        padding: 10px 20px;
        font-size: 1em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: themed("buttonTextColor");
        background-color: themed("buttonBackgroundColor");
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;

        input {
          border: none;
          outline: none;
          width: 500px;
          font-size: 16px;
          background-color: transparent;
          color: themed("textColor");

          @include mobile {
            display: none;
          }

          @include tablet {
            width: 200px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 15px;

      .icon-container {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: themed("bgSoft");
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .number {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: default;
          position: absolute;
          top: 0;
          right: 0;
          height: 19px;
          width: 19px;
          color: white;
          border-radius: 50%;
          z-index: 10;
          font-size: 11px;
          font-weight: 600;
          background: #fb0606;
        }

        .non-number {
          display: none;
        }

        .icon {
          position: relative;
        }
      }

      @include mobile {
        display: none;
      }

      .user-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        @include tablet {
          display: none;
        }

        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }

        span {
          font-size: 17px;
        }
      }
    }
  }
}
